.table-action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 !important;
}

.table-action li {
    margin: 2px 6px;
}

.ant-pagination {
    text-align: center;
    margin-top: 20px;
}


.query-handle {
    display: flex;
    flex-wrap: wrap;

}

.query-handle li {
    margin-right: 8px;
    margin-bottom: 8px;
}